[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
Jinja2 = "*"
pylint = "*"
matplotlib = "*"
accelerator-toolbox = "*"

[packages]
numpy = ">=1.16.6"
confluent-kafka = "*"
dacite = "*"
Flask = "*"
requests = "*"
scipy = "*"
mysql-connector-python = "*"
python-logstash = "*"
PyYAML = "*"
pymongo = "*"
Flask-MySQL = "*"
install = "*"
cryptography = "*"
Flask-PyMongo = "*"

[requires]
python_version = "3.8"
